In [1]:
list1 = [11,22,33,44,55]
list2 = ["aa","bb","cc"]
list3 = []

print(list1)
print(list2)
print(list3)

[11, 22, 33, 44, 55]
['aa', 'bb', 'cc']
[]

In [2]:
list4 = [11,"홍길동",19,180.5]
list5 = [11,"홍길동",[10,92,100]]

print(list4)
print(list5)

[11, '홍길동', 19, 180.5]
[11, '홍길동', [10, 92, 100]]

In [3]:
#9-4
list4 = [11,"홍길동",19,180.5]
print(list4[1],"님의 키는 ",list4[-1],"cm 입니다.")

홍길동 님의 키는  180.5 cm 입니다.

In [6]:
#9-5
list1 = [11,22,33,44,55]
sublist1 = list1[1:3]
print(sublist1) # list를 출력
print(sublist1[1]) # l

[22, 33]
33

In [8]:
nums = [11,22,33,44,55]

nums[0] = 999
print(nums)

nums[1:3] = [100,200,300]
print(nums)

[999, 22, 33, 44, 55]
[999, 100, 200, 300, 44, 55]

In [9]:
nums1 = [11,22,33]
nums2 = []

nums2 = nums1 # 아이디를 넣은거임

nums2[0]=0 # nums2에 0 아이디 값을 넣은 것이므로
print(nums1) # nums1에 있는 11도 0으로 변경된다
print(nums2)

[0, 22, 33]
[0, 22, 33]

In [10]:
nums1 = [11,22,33]
nums2 = [44,55]

nums3 = nums1 + nums2
print(nums3)

nums4 = nums1 * 2
print(nums4)

[11, 22, 33, 44, 55]
[11, 22, 33, 11, 22, 33]

In [11]:
nums1 = [11,22,33]
n=len(nums1)
print(n)

3

In [14]:
nums1 = [11,22,33]

nums1.append(44)
print(nums1)

nums1.insert(3,44)
print(nums1)

nums1.insert(-1,50)
print(nums1)

[11, 22, 33, 44]
[11, 22, 33, 44, 44]
[11, 22, 33, 44, 50, 44]

In [20]:
nums = [11,22,33,0,11,22,33]
del nums[1]
print(nums)

del nums[2:4]
print(nums)

nums.remove(33)
print(nums)

[11, 33, 0, 11, 22, 33]
[11, 33, 22, 33]
[11, 22, 33]

In [21]:
nums = [11,22,33,0,11,22,33]
nums[1:3] = []
print(nums)

nums.clear()
print(nums)

[11, 0, 11, 22, 33]
[]

In [23]:
nums = [11,22,33,0,11,22,33]

print(nums.index(33))
print(nums.count(0))

2
1

In [24]:
t1 = (11,22,33,44,55)
print(t1[0])
print(t1[1:3])

t2 = (66,77)
t3 = t1 + t2
print(t3)
t4 = t2 * 3
print(t4)

11
(22, 33)
(11, 22, 33, 44, 55, 66, 77)
(66, 77, 66, 77, 66, 77)

In [30]:
d = {'python':'파이썬', 'basic':'기초', 'programming':'프로그래밍'}
print(d)
print(d['python'])
print(d['programming'])
print(d['basic'])

print(d.get('python'))
res = d.get(0)
print(res)

{'python': '파이썬', 'basic': '기초', 'programming': '프로그래밍'}
파이썬
프로그래밍
기초
파이썬
None

In [41]:
d = {'python':'파이썬', 'basic':'기초', 'programming':'프로그래밍','key':'유효한 키'}
d ['PYTHON'] = '파이썬2'
d ['python'] = 'PYTHON'

print(d)

key = 0
if key in d:
    print(d[key])
else :
    print(f'유효하지 않은 키{key}')

{'python': 'PYTHON', 'basic': '기초', 'programming': '프로그래밍', 'key': '유효한 키', 'PYTHON': '파이썬2'}
유효하지 않은 키0