In [ ]:
from operator import index
from traceback import print_tb

from tensorflow.python.framework.test_ops import graph_def_version

print(' "때론 내 삶의 변화를 위해 \ '내어맡김\'이 필요하다'" ")

In [ ]:
print('11\t홍길동\n123\t일지매')

In [3]:
print('동해물과 백두산이 마르고 닳도록 \
하느님이 보우하사 우리나라 만세')

동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세

In [5]:
print('''\
11\
t홍길동123\
t일지매\
''')

11t홍길동123t일지매

In [7]:
msg = '상명대학교'
print(msg[0])
print(msg[-1])

상
교

In [10]:
msg = '상명대학교'
print(msg[0:2])
print(msg[:3])

print(msg[2:5])
print(msg[2:])

print(msg[4:])

상명
상명대
대학교
대학교
교

In [11]:
print('안녕','하세요')
print('안녕'+'하세요')

msg1, msg2 = '안녕', '하세요'
print(msg1+msg2)
print('안녕'+msg2)
print(msg1+'하세요')

안녕 하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요

In [14]:
res = 2*2
print('2 x 2 =', str(res))

2 x 2 = 4

In [16]:
print('*'*5)
print(5*'print ')

*****
print print print print print

In [22]:
def divide_name(name) :
    last_name = name[0]
    first_name = name[1:]
    print('-'*12)
    print("성  :\t" + last_name)
    print("이름:\t" + first_name)
    print('-'*12)

name=input('당신의 이름은?')
divide_name(name)

------------
성  :	박
이름:	세연
------------

In [23]:
n1 = int(input('첫번쨰 정수는? '))
n2 = int(input('두번쨰 정수는? '))

print(f'{n1}와 {n2}의 평균은 = {(n1+n2)/2}')

3와 3의 평균은 = 3.0

In [26]:
num= int(input('정수는?'))

print(f'2진 표현으로는 {num:b}입니다.')
print(f'10진 표현으로는 {num:d}입니다.')
print(f'16진 표현으로는 {num:x}입니다.')

2진 표현으로는 110입니다.
10진 표현으로는 6입니다.
16진 표현으로는 6입니다.

In [29]:
n1 = int(input('첫번쨰 정수는? '))
n2 = int(input('두번쨰 정수는? '))

avg = n1/n2

print(f'{n1}/{n2}={avg}')
print(f'{n1}/{n2}={avg:f}')
print(f'{n1}/{n2}={avg:e}')
print(f'{n1}/{n2}={avg:g}')

2000/5=400.0
2000/5=400.000000
2000/5=4.000000e+02
2000/5=400

In [31]:
num = 15
print(f'[{num:d}]')
print(f'[{num:5d}]')
print(f'[{num:<5d}]')
print(f'[{num:^5d}]')
print(f'[{12345678:5d}]')
print(f'[{num:05d}]')

[15]
[   15]
[15   ]
[ 15  ]
[12345678]
[00015]

In [32]:
PI = 3.14159265
print(f'[{PI:f}]')#소수점 6자리 이하
print(f'[{PI:.2f}]')#소수점 이하 2자리
print(f'[{PI:5.2f}]')
print(f'[{PI:.2g}]') #변환되어 표시될 계수의 유효 자릿수의 개수

[3.141593]
[3.14]
[ 3.14]
[3.1]

In [33]:
'today is %d %s.' %(17,'November')

'today is 3 April.'

In [38]:
'hello, {0},{2},{1}'.format('python','script',3)

'hello, python,3,script'

In [39]:
'hello, {lang} {version}'.format(lang = 'python',version = 3)

'hello, python 3'

In [42]:
text = "python"
print('t' in text)
print('T' in text)
print('th' in text)
print('티' not in text)

True
False
True
True

In [44]:
num = input('정수를 입력하세요 : ')
length = len(num)
print(f'입력하신 {num}은 {length}자리 정수입니다.')

입력하신 2345은 4자리 정수입니다.

In [46]:
week = '간장공장공장장간장공장공장장공장'
n=week.count('장')
print(n)

9

In [49]:
week = '월화수목금금금금금요일'
pos=week.find('금')
print(pos)

pos=week.find('금',5)
print(pos)

pos=week.rfind('금')
print(pos)

4
5
8

In [50]:
msg = "python은 배우기쉽다. python은 강력하다."
res = msg.replace('python','파이썬')
print(res)
print(msg)

파이썬은 배우기쉽다. 파이썬은 강력하다.
python은 배우기쉽다. python은 강력하다.

In [55]:
def introduce(name,grade) :
    h = grade + 1
    n= name[1:]
    a = n+ '은(는) 내년에 ' + str(h) + '학년입니다.'
    return a

name = input('이름? ')
grade = int(input('학년? '))

print(introduce(name,grade))

보검은(는) 내년에 2학년입니다.

In [56]:
def rep_char(c,n) :
    print(c*n)

rep_char('-',10)
rep_char('#',5)

----------
#####

In [64]:
def draw_line_string(msg):
    rep_char('-',len(msg)*2)
    print(msg)
    rep_char('-',len(msg)*2)

def rep_char(c,n) :
    print(c*n)

msg = input('문자?')
draw_line_string(msg)

----
문자
----

In [65]:
def rep_char(c,n) :
    print(c*n)

def draw_line_string(msg):
    nstr = len(msg)
    rep_char('-',nstr*2+4)
    print(f'{msg}')
    rep_char('-',nstr*2+4)

draw_line_string('안녕하세요')
draw_line_string('안녕')

--------------
 안녕하세요
--------------
--------
 안녕
--------

In [73]:
def rep_char(c,n) :
    print(c*n)

def draw_line_string(msg):
    nstr = len(msg1) if (len(msg1) > len(msg2)) else len(msg2)
    print('input his/her name : ',msg)
    rep_char('-',nstr)
    print(f'Hello, {msg}')
    print('Welcome to Seoul')
    rep_char('-',nstr)


m1 = input('input his/her name1 : ')
draw_line_string(m1)

input his/her name :  seng
-------------------
Hello, seng
Welcome to Seoul
-------------------